body {
    background-color: pink;
}
h1 {
    color: royalblue;
}
#Paragraf1 {
    color: seagreen;
}
h2 {
    color: silver;
}
#Paragraf2 {
color: steelblue;
}
.jeden {
color: violet;
}
.dwa {
    color: white;
}
.trzy {
    color: wheat;
}
.cztery {
    color: turquoise;
}
.piec {
    color: steelblue;
}